$mainColor:#a3bb51;
$textViceHeaderColor: #9e9ea6;
$link:#409EFF;
$mainHoverColor:rgba(14,94,69,0.2);

body{
    background: #f7f7f7;
}

// .el-button {
// 	padding-left: 30px;
// 	padding-right: 30px;
// 	background: $mainColor;
// 	border-color:$mainColor;
// 	border:1px solid $mainColor;
// 	&:hover {
// 		background: $mainColor !important;
// 		border:1px solid $mainColor;
// 		box-shadow: (0px 7px 15px $mainHoverColor)
// 	}
// }

.el-tabs{
	.el-tabs__active-bar{
		background: $mainColor;
	}
	.el-tabs__item{
		width:120px;
		text-align: center;
	}
	.el-tabs__item{
		&.is-active{
			color:$mainColor;
		}
		&:hover{
			color:$mainColor;
		}
	}
}

.el-table--enable-row-hover .el-table__body tr:hover>td{
	background: lighten($mainColor, 42%);
}
.el-table th, .el-table tr:last-child td{
	border:none;
}

.el-input.qj-input, .el-select.qj-select, .qj-input.el-textarea{
	input, textarea {
		border-radius: 3px;
		border-color: transparent;
		padding-left: 10px;
	}
	input:hover, textarea:hover {
		border-color: $textViceHeaderColor;
	}
	input:focus, textarea:focus {
		border-color: $link;
	}
	&:focus{
		background: $mainColor !important;
		border:1px solid $mainColor;
	}
	&:active {
		background: $mainColor !important;
		border:1px solid $mainColor;
	}
}

.el-loading-spinner .path{
	stroke: #a3bb50!important;
}
.el-dialog__footer{
	text-align: center;
}